*{margin:0;
padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif}

.box{box-sizing: border-box;
   
  
    justify-content: left; 
    display: inline-block;
    padding-right: 50px;
}
h1{ 
    font-weight: bold;
   
}

h2{ 
     color: grey;
font-style: italic;
font-weight: bold;

}

.parrafosup{  
    font-size: 16px;
color:grey;

}
.imagen{ display: inline; display: flex;}
img
{width: 650px;
   
    
    }
.boxes{display: flex;}

.sub{ padding-top:50px ;}
.inf{font-size: 12px;
font-family: Verdana;
color: grey;}