/**Realizar las modificaciones que consideres necesarias en el archivo .html que está adjunto para que:
- los títulos de las secciones 1 y 3 sean de color rojo y fondo azul.
-los párrafos tengan tamaño de fuente igual a 16px.
-los títulos de las secciones 2 y 4 sean de color verde.
-el subtítulo de la sección 2 debe tener fuente italica y el resto helvetica.
*/
.seccion1Y3 { color:red;
    background:blue;}

.seccion1Y3p { font-size: 16px;}    
.seccion2Y4 { color:green;}

h2 { font-family: Helvetica;}

.italy{font-style: italic;
}


/*Listo*/